In [1]:
import numpy as np
import pandas as pd
string_data = pd.Series(['板橋區', '中和區', np.nan, '土城區'])
string_data

0    板橋區
1    中和區
2    NaN
3    土城區
dtype: object

In [2]:
string_data[0] = np.nan
string_data

0    NaN
1    中和區
2    NaN
3    土城區
dtype: object

In [3]:
string_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
2 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [4]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [5]:
masked = string_data.notnull()
string_data[masked]

1    中和區
3    土城區
dtype: object

In [6]:
string_data.fillna("不知道")

0    不知道
1    中和區
2    不知道
3    土城區
dtype: object

In [7]:
string_data.dropna()

1    中和區
3    土城區
dtype: object

In [ ]:
data = pd.Series(["1.", "-999.", "2.", "-999.", "-1000.", "3."])
data.astype(float)

In [8]:
data = pd.Series(["1.", "-999.", "2.", "-999.", "-1000.", "3.."])
pd.to_numeric(data,errors='coerce')

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       NaN
dtype: float64

In [ ]:
data = pd.Series(["1.", "-999.", "2.", "-999.", "-1000.", "3.."])
data.replace("3..","3.")

In [9]:
data = pd.Series(["1.", "-999.", "2.", "-999.", "-1000.", "3.."])
data.replace("3..","3.")

0        1.
1     -999.
2        2.
3     -999.
4    -1000.
5        3.
dtype: object

In [10]:
def clear_data(x):
    try:
        value = float(x)
        return value
    except:
        return 0
    

data = pd.Series(["1.", "-999.", "2.", "-999.", "-1000.", "3.."])
data.apply(clear_data)

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       0.0
dtype: float64