In [25]:
import os

# 資料夾名稱
folder_name = '每日各站進出站人數'

# 取得資料夾中所有檔案/資料夾的名稱
allitems = os.listdir(folder_name)

# 取得資料夾的絕對路徑
folder_abspath = os.path.abspath(folder_name)

# 篩選出長度大於 12 的檔案名稱
filenames = [file for file in allitems if len(file) > 12]

# 印出這些檔案的完整路徑
for file_name in filenames:
    filename_absPath = os.path.join(folder_abspath, file_name)
    print(filename_absPath)

c:\Users\andys\Documents\Github\Python_analysis\lesson18\每日各站進出站人數\每日各站進出站人數20190423-20191231.csv
c:\Users\andys\Documents\Github\Python_analysis\lesson18\每日各站進出站人數\每日各站進出站人數2020.csv
c:\Users\andys\Documents\Github\Python_analysis\lesson18\每日各站進出站人數\每日各站進出站人數2021.csv
c:\Users\andys\Documents\Github\Python_analysis\lesson18\每日各站進出站人數\每日各站進出站人數2022.csv
c:\Users\andys\Documents\Github\Python_analysis\lesson18\每日各站進出站人數\每日各站進出站人數2023.csv

In [26]:
import pandas as pd
csv_abspath=os.path.join(folder_abspath,filenames[0])
df = pd.read_csv(csv_abspath)
site_df = pd.read_csv(os.path.abspath('台鐵車站資訊.csv'))
print(df.columns)
print(site_df.columns)
pd.merge(df,site_df,left_on='staCode',right_on='stationCode',how='left')

Index(['trnOpDate', 'staCode', 'gateInComingCnt', 'gateOutGoingCnt'], dtype='object')
Index(['stationCode', 'stationName', 'name', 'stationAddrTw', 'stationTel',
       'gps', 'haveBike'],
      dtype='object')

,trnOpDate,staCode,gateInComingCnt,gateOutGoingCnt,stationCode,stationName,name,stationAddrTw,stationTel,gps,haveBike
0,20190423,900,8442,7743,900,基隆,基隆,基隆市仁愛區港西街5號,02-24263743,25.13411 121.73997,Y
1,20190423,910,1394,1348,910,三坑,三坑,基隆市仁愛區德厚里龍安街 206 號,02-24230289,25.12305 121.74202,Y
2,20190423,920,2770,2423,920,八堵,八堵,基隆市暖暖區八南里八堵路 142 號,02-24560841,25.10843 121.72898,Y
3,20190423,930,6113,6335,930,七堵,七堵,基隆市七堵區長興里東新街 2 號,02-24553426,25.09294 121.71415,Y
4,20190423,940,2680,2726,940,百福,百福,基隆市七堵區堵南里明德三路 1 之 1 號,02-24528372,25.07795 121.69379,N
...,...,...,...,...,...,...,...,...,...,...,...
60124,20191231,7360,5779,5782,7360,瑞芳,瑞芳,新北市瑞芳區龍潭里明燈路三段 82 號,02-24972033,25.10861 121.80596,Y
60125,20191231,7361,146,142,7361,海科館,海科館,基隆市中正區長潭里,02-24972033,25.13754 121.79997,N
60126,20191231,7362,116,134,7362,八斗子,八斗子,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房),02-24972033,25.13545 121.80261,N
60127,20191231,7380,654,585,7380,四腳亭,四腳亭,新北市瑞芳區吉慶里中央路 65 號,02-24579346,25.10283 121.76192,N
60128,20191231,7390,448,396,7390,暖暖,暖暖,基隆市暖暖區暖暖里暖暖街 51 號,02-24972033,25.10224 121.74048,N

In [37]:
df2 = df.reindex(columns=['trnOpDate','staCode','gateInComingCnt','gateOutGoingCnt','name','stationAddrTw','gps','haveBike'])

In [38]:
df3 = df2.rename(columns={'trnOpDate':'日期',
                    'staCode':'代碼',
                    'gateInComingCnt':'進站人數',
                    'gateOutGoingCnt':'出站人數',
                    'name':'站名',
                    'stationAddrTw':'地址',
                    'gps':'gps',
                    'haveBike':'youBike'
                    })
df3

             日期    代碼  進站人數  出站人數  站名  地址  gps  youBike
0      20190423   900  8442  7743 NaN NaN  NaN      NaN
1      20190423   910  1394  1348 NaN NaN  NaN      NaN
2      20190423   920  2770  2423 NaN NaN  NaN      NaN
3      20190423   930  6113  6335 NaN NaN  NaN      NaN
4      20190423   940  2680  2726 NaN NaN  NaN      NaN
...         ...   ...   ...   ...  ..  ..  ...      ...
60124  20191231  7360  5779  5782 NaN NaN  NaN      NaN
60125  20191231  7361   146   142 NaN NaN  NaN      NaN
60126  20191231  7362   116   134 NaN NaN  NaN      NaN
60127  20191231  7380   654   585 NaN NaN  NaN      NaN
60128  20191231  7390   448   396 NaN NaN  NaN      NaN

[60129 rows x 8 columns]

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60129 entries, 0 to 60128
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       60129 non-null  int64
 1   代碼       60129 non-null  int64
 2   進站人數     60129 non-null  int64
 3   出站人數     60129 non-null  int64
 4   站名       0 non-null      float64
 5   地址       0 non-null      float64
 6   gps      0 non-null      float64
 7   youBike  0 non-null      float64
dtypes: float64(4), int64(4)
memory usage: 3.7 MB

In [40]:
df4 = df3.dropna()
df4['日期'] = pd.to_datetime(df4['日期'].astype(str))
df4.info()
df4

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       0 non-null      datetime64[ns]
 1   代碼       0 non-null      int64
 2   進站人數     0 non-null      int64
 3   出站人數     0 non-null      int64
 4   站名       0 non-null      float64
 5   地址       0 non-null      float64
 6   gps      0 non-null      float64
 7   youBike  0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 0.0 bytes

Empty DataFrame
Columns: [日期, 代碼, 進站人數, 出站人數, 站名, 地址, gps, youBike]
Index: []